<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/board.css">
  <script src="/static/js/boggle.js" defer></script>
  <title>{% block title %}Boggle{% endblock %}</title>
</head>
<body>
  {% block content %}
    <div class="board">
      {% for row in board %}
        <div class="board-row">
          {% for tile in row %}
            <div class="tile">{{tile}}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endblock %}
  <form class="input-form">
    <label for="input-word">Enter a word from the board:</label>
    <input type="text" id="input-word">
    <button id="input-word-button">Submit</button>
  </form>
</body>
</html>